@import 'variables'; // Importa las variables desde _variables.scss

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: $base-font-size;
    font-family: $font-family;
}

.container {
    padding: 20px;
}

.btn {
    padding: 20px;
    border: none;
    border-radius: 40px;
    margin: 10px;
    color: white;
    font-size: 1.5rem;

}

.btn--green {
    background-color: $strong-cyan ;
}

.btn--blue {
    background-color: $light-blue;
}

.header {
    text-align: center;

    &__logo {
        background-image: url("../images/bg-header-mobile.png");
        background-size: cover;
        /* Esto ajustará la imagen para que cubra todo el espacio sin distorsionarla */
        background-position: center center;
        /* Esto centrará la imagen en el elemento */
        padding: 50px 30px;
    }

    .header-info {
        &__title {
            font-size: 3rem;
            font-weight: 600;
            margin: 10px auto;
        }

        &__text {
            font-size: 1.5rem;
            margin: 10px auto;
            color: $grayish-blue;
        }

        &__buttons {
            display: flex;
            flex-direction: column;
        }
    }
}

.main {
    padding: 40px 40px;

    .section-keep {
        display: flex;
        flex-direction: column;
        text-align: center;

        &__title {
            font-size: 2rem;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        &__text {
            font-size: 1.5rem;
            color: $grayish-blue;
            margin-top: 20px;
            margin-bottom: 80px;
        }

        &__container-snippets {}

        &__img-container {
            padding: 30px;
        }

        &__img {
            width: 100%;
            background-size: cover;
            background-position: center center;
        }

        &__snippet-list {
            text-align: center;
        }

        &__snippet {
            padding: 30px 0px;
            &-title {
                font-size: 1.8rem;
                margin: 10px auto;
            }
            &-text {
                color: $grayish-blue;
            }
        }
    }

}




@import 'style-desktop'; // Importar los estilos para desktop